// //-------------------------------------------------------
// //- ABSTRACTS :: VARIABLES
// //-------------------------------------------------------
// ==== font-family ====
$font-family-cerebri-san: "Cerebri Sans",sans-serif;

// ==== font-size ==== 


// ==== line-height ====


// ==== font-weight ====
$fw-regular : 400;
$fw-medium : 500;
$fw-bold : 600;

// ==== color ====
$cl-yellow : #f6c343;
$cl-red : #e63757;
$cl-white : #fff;
$cl-light-white : #e3ebf6;
$cl-gray : #6e84a3;
$cl-light-gray : #edf2f9;
$cl-xlight-gray : #95aac9;
$cl-dark-gray : #12263f;
$cl-dark-blue : #2c7be5;
$cl-light-blue : #1657af;
$cl-green : rgb(0, 217, 126);
$cl-light-green : #00d97e;

// box shadow 
$bs-gray: rgba(223,226,230,.5);

// ==== background color ====
$bg-body : #f9fbfd;
$bg-btn-success : #c0ffe4;
