a.btn-custom-primary {
  color: $cl-white;
  font-size: 15px;
  background-color: $cl-dark-blue;
  border-color: $cl-dark-blue;
  display: inline-block;
  &:hover {
    color: $cl-white;
    background-color: darken($cl-dark-blue, 5%);
    border-color: darken($cl-dark-blue, 8%);
  }
  &:focus {
    box-shadow : 0 0 0 0.15rem rgba(76,143,233,.5);
    outline: 0;
  }
}