.btn-custom {
  color: $cl-white;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 6px;
  &--sm {
    font-size: 13px;
    border-radius: 4px;
    padding: 2px 8px;
    line-height: calc(7/4);
  }
  &--default {
    color: $cl-dark-gray;
    background-color: $cl-white;
    border-color: $cl-light-white;
    &:hover {
      background-color: $bg-body;
    }
    &:focus {
      box-shadow : 0 0 0 calc(5px/2) $bs-gray;
      outline: 0;
    }
  }
  &--primary {
    background-color: $cl-dark-blue;
    border-color: $cl-dark-blue;
    &:hover {
      color: $cl-white;
      background-color: darken($cl-dark-blue, 5%);
      border-color: darken($cl-dark-blue, 8%);
    }
    &:focus {
      box-shadow : 0 0 0 0.15rem rgba(76,143,233,.5);
      outline: 0;
    }
  }
}

 