.main-content {
  .content-header {
      $self : &;
      display: flex;
      align-items: flex-end;
      padding: 24px 0;
      border-bottom: 1px solid $cl-light-white;
      margin-bottom: 32px;
      &__sub-title {
          text-transform: uppercase;
          letter-spacing: .8px;
          color: lighten($cl-gray, 15%);
          font-size: 10px;
          font-weight: 500;
          margin-bottom: 9px;
          line-height: 11px;
      }
      &__main-title {
          font-size: 26px;
          font-weight: 500;
          letter-spacing: -0.52px;
          line-height: 28.6px;
      }
      &__inner {
          margin-left: auto;
      }
      &__button {
          font-size: 15px;
          color: #fff;
          background-color: $cl-dark-blue;
          border-color: $cl-dark-blue;
          transition: background-color .3s;
          padding: 8px 12px;
          border-radius: 6px;
          &:hover {
              background-color: darken($cl-dark-blue, 8%);
              border-color: darken($cl-dark-blue, 8%);
          }
          &:focus {
              box-shadow: 0 0 0 0.15rem rgba(76,143,233,.5);
          }
      }
  }
  .content-body {
      .statistic-chart {
          border-radius: 8px;
          margin-bottom: 24px;
          border-color: #edf2f9;
          box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
          .card-body {
              padding: 24px;
          }
          &__title {
              text-transform: uppercase;
              letter-spacing: 0.8px;
              font-size: 10px;
              font-weight: 500;
              color: #95aac9;
          }
          &__count {
              font-size: 20px;
              font-weight: 500;
              margin-right: 4px;
          }
          &__icon {
              margin-left: auto;
              color: #95aac9;
              font-size: 20px;
          }
          &__progress {
              height: 4px;
          }
      }
  }
}
.project {
  $self : &;
  padding: 24px;
  // height: inherit;
  // overflow-y: auto;
  &__avatar {
     width: 64px;
    height: 48px;
    position: relative;
    display: inline-block;
        & > img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
    }
}
&__list {
    .list-group-item {
        display: block;
        padding: 12px 0;
    }
}
&__inner {
  margin-left: -6px;
}
&__title {
  color: #12263f;
  margin-bottom: 3px;
  font-weight: 450;
}
&__status {
    font-size: 13px;
    font-weight: 400;
    .fe {
        color: #95aac9;
    }
    & > time {
      color: #95aac9;
    }
}
 
}