
@media (max-width: 767px) {
  .collapse:not(.show) {
    display: none;
  }
  
  .navbar {
 
    .navbar-collapse {
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      flex: 1 1 100%;
    }
    &__vertical {
      &.navbar-expand-md {
        .container-fluid {
          display: flex;
          flex-direction: row;
          align-items: center;
          .logo {
            .navbar-brand {
              padding: 0;
              &__img {
                max-height: 24px;
                max-width: 100%;
              }
            }
          }
            .navbar-toggle {
              border: none;
              background: transparent;
              .navbar-toggler-icon {
                font-size: 17px;
              }
            }
        }
      }
      &.navbar-light {
        max-width: 100%;
        position: static;
      }
      border-bottom: 1px solid $cl-light-white;
    }
    .user {
      .dropdown-toggle:after {
        content: none;
      }
      .dropup {
        .dropdown-menu {
          left: 50%;
          transform: translateX(-50%);
          .dropdown-item {
            display: block;
            width: 100%;
            padding: 6px 24px;
            clear: both;
            font-weight: 400;
            color: $cl-gray;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            font-size: 15px;
            &:hover {
              color: $cl-dark-gray;
              text-decoration: none;
              background-color: transparent;
            }
          }
          .dropdown-devider {
            height: 0;
            margin: 12px 0;
            overflow: hidden;
            border-top: 1px solid $cl-light-white;
          }
        }
      }
      &__avatar {
        width: 40px;
        height: 40px;
        position: relative;
        &::before {
          position: absolute;
          width: 20%;
          height: 20%;
          right: 2px;
          bottom: 2px;
          content: "";
          border-radius: 50%;
          z-index: 10;
          background-color: $cl-green;
        }
        &::after {
          position: absolute;
          width: 25%;
          height: 25%;
          right: 2px;
          bottom: 2px;
          content: "";
          border-radius: 50%;
          z-index: 5;
          background-color: $cl-white;
        }
      }
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
  }
    .search {
      $self : &;
      margin-top: 24px;
      // margin-bottom: 12px;
      height: inherit;
      overflow-y: auto;
      &__form {
        .input-group-prepend {
          order: -1;
          .input-group-text {
            background-color: transparent;
            color: #95aac9;
            padding-right: 6px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-top-right-radius: 0; 
            border-bottom-right-radius: 0;
            transition: border-color .3s; 
          }
        }
      }
      &__input {
        border-left: 0;
        padding: 8px 12px 8px 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 15px;
        line-height: 22.5px;
        transition: border-color .3s;
        &::placeholder {
          color: #95aac9;
        }
        &:focus {
          border-color: #2c7be5;
          & ~ [class*=input-group] {
            & > .input-group-text {
              border-color: #2c7be5;
            }
          }                    
        }
      }
  }
  
}
  .main-content {
    max-width: 100%;
    margin-left: 0;
    .container {
      max-width: 100%;
    }
    
  }
}
